<!DOCTYPE html>
<html>
<header>
    <title>
        Thời tiết
    </title>

    <style>
        .column {
            float: left;
            width: 50%;
        }


        .row:after {
            content: "";
            display: table;
            clear: both;
            margin-bottom: 5px;
        }

        table {
            border-collapse: separate;
            border-spacing: 0 1em;
        }

        table.info td {
            width: 250px;
        }
    </style>
    <script>

    </script>
</header>

<body>
    <div>
        <div style="width: inherit;" class="row">
            <h1>
                Hà Nội
            </h1>
            <div style="width:initial; margin-right: 40px;" class="column">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" width="150" height="150">
                <p>Mô tả: Mây đen u ám</p>
                <p>Nhiệt độ cảm nhận: 30°C</p>
            </div>
            <div class="column">
                <table class="info">
                    <tbody>
                        <tr>
                            <td>
                                <i>- Nhiệt độ</i>: 35°C
                            </td>
                            <td>
                                <i>- Độ ẩm</i>: 56%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i>- Hướng gió</i>: ĐĐN
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i>- Áp suất</i>: 1000hPa
                            </td>
                            <td>
                                <i>- Tầm nhìn</i>: 10km
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i>- Kinh độ</i>:
                            </td>
                            <td>
                                <i>- Vĩ độ</i>:
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i>- Múi giờ</i>: "Asia/Bangkok"
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h1>Thời tiết theo từng ngày: </h1>
            <ul style="list-style-type: none; padding-left: 20px;">
                <li>
                    <div class="row">
                        <div class="column" style="width: 250px; margin-right: 5px;">
                            <span><b>Thứ 2, ngày 07/06/2020</b></span>
                            <br>
                            <span>Nhiệt độ: 34°C-35°C </span>
                            <br>
                            <span>Trời nắng</span>
                        </div>
                        <div class="column" style="width: auto;">
                            <img src=" http://openweathermap.org/img/wn/10d@2x.png" width="58px" height="58px">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="column" style="width: 250px; margin-right: 5px;">
                            <span><b>Thứ 3, ngày 08/06/2020</b></span>
                            <br>
                            <span>Nhiệt độ: 34°C-35°C </span>
                            <br>
                            <span>Trời nắng</span>
                        </div>
                        <div class="column" style="width: auto;">
                            <img src=" http://openweathermap.org/img/wn/10d@2x.png" width="58px" height="58px">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="column" style="width: 250px; margin-right: 5px;">
                            <span><b>Thứ 4, ngày 09/06/2020</b></span>
                            <br>
                            <span>Nhiệt độ: 34°C-35°C </span>
                            <br>
                            <span>Trời nắng</span>
                        </div>
                        <div class="column" style="width: auto;">
                            <img src=" http://openweathermap.org/img/wn/10d@2x.png" width="58px" height="58px">
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="column" style="width: 250px; margin-right: 5px;">
                            <span><b>Thứ 5, ngày 10/06/2020</b></span>
                            <br>
                            <span>Nhiệt độ: 34°C-35°C </span>
                            <br>
                            <span>Trời nắng</span>
                        </div>
                        <div class="column" style="width: auto;">
                            <img src=" http://openweathermap.org/img/wn/10d@2x.png" width="58px" height="58px">
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="column" style="width: 250px; margin-right: 5px;">
                            <span><b>Thứ 6, ngày 11/06/2020</b></span>
                            <br>
                            <span>Nhiệt độ: 34°C-35°C </span>
                            <br>
                            <span>Trời nắng</span>
                        </div>
                        <div class="column" style="width: auto;">
                            <img src=" http://openweathermap.org/img/wn/10d@2x.png" width="58px" height="58px">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="column" style="width: 250px; margin-right: 5px;">
                            <span><b>Thứ 7, ngày 12/06/2020</b></span>
                            <br>
                            <span>Nhiệt độ: 34°C-35°C </span>
                            <br>
                            <span>Trời nắng</span>
                        </div>
                        <div class="column" style="width: auto;">
                            <img src=" http://openweathermap.org/img/wn/10d@2x.png" width="58px" height="58px">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="column" style="width: 250px; margin-right: 5px;">
                            <span><b>Chủ nhật, ngày 13/06/2020</b></span>
                            <br>
                            <span>Nhiệt độ: 34°C-35°C </span>
                            <br>
                            <span>Trời nắng</span>
                        </div>
                        <div class="column" style="width: auto;">
                            <img src=" http://openweathermap.org/img/wn/10d@2x.png" width="58px" height="58px">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>