<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
  <preference for="MyModules\ProductAPI\Api\ProductInterface"
           type="MyModules\ProductAPI\Model\Product"/>
</config>